### Test and Build
dist/
test-results/

### Node
logs
*.log
npm-debug.log*
lib-cov
.lock-wscript
build/Release
node_modules/
*.tsbuildinfo

### Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

### IDE
.idea/

### Claude temporary files
.superpowers/
docs/superpowers/
